<p id="notice"><%= notice %></p>

  <%= link_to 'HOME', root_path %> <h1>Dispatching</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Salle</th>
      <th>Tache</th>
      <th colspan="4"></th>
      <th> contient </th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.salle %></td>
        <td><%= group.tache %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Clear Group', cleargroup_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><% @people.each do |person| %>
            <% if person.group_id == group.id %>
          <p><%=person.name %>
            <% if person.sensei %>
              <span>(SENSEI!!!)<span>
            <% end %>
            <%= link_to 'sensei + ou -', updatesensei_path(person) %>
            <%= link_to 'Remove from Group', rmvfromgrp_path(person) %>
           </p>
            <%end%>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Clear Groups', cleargrpsid_path %>


<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Sensei</th>
      <th>Change Groupe</th>


    </tr>
  </thead>
gfdhgdh
  <tbody>
    <% @people.each do |person| %>
    <% if person.group_id == nil %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.group_id %></td>
        <td><%= person.sensei %></td>
        <td><%= best_in_place person, :group_id, :as => :select, :collection => Group.all.map{|x| [x.id, x.name] }%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Randomize-me', randomize_path%>
