<div class="container-fluid">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <h1 class="text-center">Dispatching</h1>
    <div class="col-xs-12 col-sm-10 Pliste col-md-3">

      <h2>Listing People <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2>

      <div class="row" id="Pliste">

        <%= render "partials/dropdownperson" %>

  </div>

  <%= link_to 'Randomize-me', randomize_path %>

</div>
<!-- End Pliste block -->

<div class="col-xs-12 col-sm-10 col-md-9 Gliste">

    <h2>Listing Groups <span class="glyphicon glyphicon-th" aria-hidden="true"></span></h2>

    <% @groups.each do |group| %>
    <div class="col-md-4 Gname">
      <h3><%= group.name %></h3>

      <ul>
        <% @people.each do |person| %>
        <% if person.group_id == group.id %>
        <li><%=person.name %>
          <% if person.sensei %>
          <span class="sensei">(SENSEI!!!)</span>
          <% end %>
          <%= link_to 'sensei + ou -', updatesensei_path(person) %>
          <%= link_to 'Remove from Group', rmvfromgrp_path(person) %>
        </li>
        <% end %>
        <% end %>
      </ul>
      <h4>ROOM:
        <%= group.salle%></h3>

    <div class="Gtache">
      <h3><%= group.tache %></h3>
    </div>
    <div class="editgrp">
      <ul>

      <li><%= link_to 'Show', group %></li>
      <li><%= link_to 'Edit', edit_group_path(group) %></li>
      <li><%= link_to 'Clear Group', cleargroup_path(group) %></li>
      <li><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>

    </div>
    <%end%>


  <br>

  <%= link_to 'New Group', new_group_path %>
  <%= link_to 'Clear Groups', cleargrpsid_path %>
</div>
<!-- END Gliste block -->

</div>
<!-- END row -->

</div>
<!-- END container -->
